/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

/* Global Styles */
* {
  text-align: center;
  background-color: #115ff4;
  color: aliceblue;
  overflow: hidden;
}

/* Header */
h1 {
  font-size: 3rem;
  letter-spacing: .25rem;
}

#main-btn {
  height: 2.2rem;
  width: 9rem;
  border: 2px solid #28a200;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Table */
table,
th,
td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  width: 150px;
  height: 100px;
  cursor: pointer;
}


.cell {
  font-size: .8rem;
}

.header-row {
  cursor: default;
  font-size: .9rem;
  background-color: #115ff4;
  text-transform: capitalize;
}

.question {
  background-color: #060ce9;
}

.answer {
  background-color: #28a200;
}
